{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Welcome to SVS Index{% endblock %}

{% block page_content %}

<div class="page-header">
     <h3>Hello, {% if current_user.is_authenticated() %}{{ current_user.fname }}{% else %}Stranger{% endif %}!</h3>
    <article>
        <header>
            <h1>What is SVS?</h1>
            <p>SVS is Skynic vigilante Services for India. This service is designed to serve surveillance services to customer.</p>
        </header>
        <section>
            <h2>How SVS work?</h2>
            <p>SVS believe in kepp it simple by using the simple and make it simple.SVS Web interface is designed to serve surveillance live streaming to their customer using the single pane of glass. </p>
        </section>
        <section>
            <h2>What are technologies SVS used for it?</h2>
            <p>
                SVS foundation is built on python and it has widedly acceptannce of any open source based surveillance streaming integration current mode we support
                Pi-Cam
            </p>
        </section>
        <footer>
            <h3>How you can take an advantage of SVS?</h3>
            <p>
                Well it's very simple and we are keep adding new features to it.To know more please click here.
            </p>
            <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
            <p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
        </footer>
    </article>

    </div>


{% endblock %}
