{% extends "base.html" %}

{% block title %}SVS - {{ user.emid }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <b>Your Login ID:</b>     {{ user.emid }}
    {% if user.fname or user.lname %}
    <p>
        {% if user.fname %}
        <b>Your Name:-</b> {{ user.fname }} {{user.lname}}
        {% endif %}
        <br>
        {% if user.lname %}
            <b>Google API map Query:</b> <a href="http://maps.google.com/?q={{ user.fname}} +{{ user.lname }}">{{ user.fname }}  {{ user.lname }}</a>
        {% endif %}
    </p>
    {% endif %}

    <p><a href="mailto:{{ user.emid }}">{{ user.emid }}</a></p>
    {% if user.mob %}
    <p><b>Mobile No#</b>
        {{ user.mob }}
    </p>{% endif %}
<p><b>Member since</b>
        {{ moment(user.cdate).format('L') }}.        <b>Last seen</b> {{ moment(user.ladate).fromNow() }}.
    </p>
    <p>
        {% if user == current_user %}
        <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
        {% endif %}
    </p>
</div>
{% endblock %}